html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#first-page {
  background-image: url("https://www.bmw.co.uk/content/dam/bmw/common/all-models/m-series/m5-sedan/2020/Highlights/bmw-5-series-sedan-m-highlights-sp-xxl.jpg/_jcr_content/renditions/cq5dam.resized.img.980.medium.time1590415891418.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1px;
}
.navbar {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
  align-items: center;
  margin-right: 50px;
}
li {
  margin-right: 50px;
  font-size: 1.3rem;
}

hr {
  margin-right: 140px;
  margin-left: 80px;
}
.motto {
  color: white;
  text-align: right;
  margin-right: 140px;
  margin-top: 20px;
}
.bold {
  font-weight: 700;
}
.bmw-title {
  display: flex;
  color: white;
  margin-top: 20px;
  margin-right: 50px;
  flex-direction: column;
  align-items: flex-end;
}
.bmw-title h1 {
  margin-right: 200px;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 15px;
}
.bmw-title h2 {
  margin-right: 5px;
  font-size: 18px;
}
#features {
  color: white;
  display: flex;
  font-size: 20px;
}
.price {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 3rem;
}
.get-started {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 20%;
  margin-right: 60px;
  margin-top: 20px;
}
.get-started input {
  width: 150px;
  border-radius: 20px;
  border: 0px solid white;
  padding-left: 25px;
  height: 25px;
  position: relative;
  margin-right: 110px;
}
button {
  width: 100px;
  background-color: white;
  border: 0px solid white;
  border-radius: 20px;
  color: grey;
  margin-top: 50px;
  font-weight: 700;
  position: absolute;
  height: 20px;
  margin-right: 180px;
}
button:hover {
  color: red;
  height: 25px;
  font-weight: 700;
}
.second-section {
  font-size: 38px;
  margin-top: 100px;
  font-weight: 100;
}
#highlights {
}
.raw-power img {
  width: 300px;
  height: 400px;
  margin-top: 50px;
}
