html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-image: url("https://www.bmw.co.uk/content/dam/bmw/common/all-models/m-series/m5-sedan/2020/Highlights/bmw-5-series-sedan-m-highlights-sp-xxl.jpg/_jcr_content/renditions/cq5dam.resized.img.980.medium.time1590415891418.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
  align-items: center;
  margin-right: 50px;
}
li {
  margin-right: 50px;
  font-size: 1.3rem;
}
